.button {
  width: 396px;
  height: 45px;
  background: #000;
  border-radius: 3px;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  cursor: pointer;
  transition: opacity .2s;
}

@media screen and (max-width: 450px) {
  .button {
    width: 260px;
    font-size: 12px;
    line-height: 1.25;
  }
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}