.techs {
  background-color: #F5F5F5;
  padding: 101px 50px;
}

@media screen and (max-width: 770px) {
  .techs {
    padding: 91px 50px;
  }
}

@media screen and (max-width: 450px) {
  .techs {
    background-color: #fff;
    padding: 69px 18px;
  }
}

.techs__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.techs__section-name {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 450px) {
  .techs__section-name {
    font-size: 18px;
  }
}

.techs__section-name::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000000;
  max-width: 1140px;
  width: 100%;
  margin-top: 22px;
}

@media screen and (max-width: 450px) {
  .techs__section-name::after {
    margin-top: 27px;
  }
}

.techs__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
  padding-top: 90px;
}

@media screen and (max-width: 770px) {
  .techs__title {
    padding-top: 80px;
  }
}

@media screen and (max-width: 450px) {
  .techs__title {
    padding-top: 60px;
    font-size: 30px;
    line-height: 1.2;
  }
}

.techs__text {
  margin: 0 auto;
  max-width: 460px;
  text-align: center;
  padding-top: 26px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 770px) {
  .techs__text {
    padding-top: 22px;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 450px) {
  .techs__text {
    padding-top: 24px;
    font-size: 11px;
    line-height: 1.45;
  }
}

.techs__skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin: 100px auto 0;
  padding: 0;
}

@media screen and (max-width: 770px) {
  .techs__skills {
    margin-top: 83px;
  }
}

@media screen and (max-width: 450px) {
  .techs__skills {
    margin-top: 50px;
    max-width: 180px;
    justify-content: flex-start;
  }
}

.techs__skill {
  width: 90px;
  height: 60px;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 795px) {
  .techs__skill {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 1.25;
  }
}