.movie {
  max-width: 364px;
  width: 100%;
  font-size: 0;
  overflow: hidden;
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movie__image {
  width: 100%;
  aspect-ratio: 17.86 / 10;
  max-height: 203px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.movie__link {
  display: block;
  cursor: pointer;
  font-size: 0;
}

.movie__information {
  min-height: 78px;
  padding: 16px 24px 16px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .movie__information {
    min-height: 72px;
    padding: 14px 22px 14px 14px;
  }
}

@media screen and (max-width: 450px) {
  .movie__information {
    min-height: 69px;
    padding-right: 16px;
  }
}

.movie__info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie__name {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
}

@media screen and (max-width: 450px) {
  .movie__name {
    font-size: 12px;
    line-height: 1.25;
  }
}

.movie__duration {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #a0a0a0;
}

@media screen and (max-width: 450px) {
  .movie__duration {
    font-size: 10px;
    line-height: 1.2;
  }
}

.movie__button {
  background-size: cover;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

.movie__button-del {
  background: url(../../images/delete.svg) no-repeat;
  width: 7px;
  height: 7px;
}

.movie__button-like {
  background: url(../../images/like.svg) no-repeat;
  width: 14px;
  height: 12px;
}

.button_el_like:hover {
  opacity: 0.5;
}

.movie__button-like_active {
  background: url(../../images/like-active.svg) no-repeat;
  width: 14px;
  height: 12px;
}

.movie__button-like_active {
  opacity: 1;
}